<%- include('header') %>
<%- include('adminlayout') %>

<div id="content">
  <div class="menu">
    <a href="#">Sales Report (Daily)</a>
    <a href="#">Sales Report (Weekly)</a>
    <a href="#">Sales Report (Yearly)</a>
  </div>

  <div class="sales-report">
    <div class="report-heading">Sales Report (Daily)</div>
    <div class="report-options">
      <label for="date">Select Date:</label>
      <input type="date" id="date">
      <button class="generate-button">Generate Report</button>
    </div>
    <div class="report-results">
      <!-- Display your sales data here -->
      <div class="chart">Sample Chart (Daily)</div>
    </div>
  </div>
</div>

<%- include('footer') %>