<%- include('header') %>

<div class="container pt-5">
  <div class="row justify-content-center align-items-center custom-row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Reset Password</h3>
        </div>
        <div class="card-body">
          <% if (locals.error) { %>
            <p class="error-message"><%= error %></p>
          <% } %>
          <form action="/user/forgot-password/reset-password" method="post">
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password:</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password:</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
