<%- include('header') %>

<div class="container pt-5">
  <div class="row justify-content-center align-items-center custom-row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Reset Password</h3>
        </div>
        <div class="card-body">
          <% if (locals.error) { %>
          <p class="error-message"><%= error %></p>
          <% } %>
          <form action="/user/forgot-password/reset-password" method="post">
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password:</label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    id="togglePassword"
                  >
                    Show
                  </button>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="confirmPassword" class="form-label"
                >Confirm Password:</label
              >
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    id="toggleConfrimPassword"
                  >
                    Show
                  </button>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const passwordInput = document.getElementById("newPassword");
  const confirmPasswordInput = document.getElementById("confirmPassword");
  const togglePasswordButton = document.getElementById("togglePassword");
  const toggleConfirmPasswordButton = document.getElementById(
    "toggleConfrimPassword"
  );

  togglePasswordButton.addEventListener("click", function () {
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      togglePasswordButton.textContent = "Hide";
    } else {
      passwordInput.type = "password";
      togglePasswordButton.textContent = "Show";
    }
  });

  toggleConfrimPassword.addEventListener("click", function () {
    if (confirmPasswordInput.type === "password") {
      confirmPasswordInput.type = "text";
      toggleConfrimPassword.textContent = "Hide";
    } else {
      confirmPasswordInput.type = "password";
      toggleConfrimPassword.textContent = "Show";
    }
  });
</script>

<%- include('footer') %>
