<%- include('header') %>

<div class="container pt-5">
  <div class="row justify-content-center align-items-center custom-row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Reset Password</h3>
        </div>
        <div class="card-body">
          <% if (locals.error) { %>
          <p class="error-message"><%= error %></p>
          <% } %>
          <form action="/user/forgot-password/reset-password" method="post">
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password:</label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn"
                    id="toggleNewPassword"
                  >
                    <i class="fa fa-eye" id="newPasswordToggleIcon"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password:</label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn"
                    id="toggleConfirmPassword"
                  >
                    <i class="fa fa-eye" id="confirmPasswordToggleIcon"></i>
                  </button>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const newPasswordInput = document.getElementById("newPassword");
  const confirmPasswordInput = document.getElementById("confirmPassword");
  const toggleNewPasswordButton = document.getElementById("toggleNewPassword");
  const toggleConfirmPasswordButton = document.getElementById("toggleConfirmPassword");
  const newPasswordToggleIcon = document.getElementById("newPasswordToggleIcon");
  const confirmPasswordToggleIcon = document.getElementById("confirmPasswordToggleIcon");

  toggleNewPasswordButton.addEventListener("click", function () {
    if (newPasswordInput.type === "password") {
      newPasswordInput.type = "text";
      newPasswordToggleIcon.classList.remove("fa-eye");
      newPasswordToggleIcon.classList.add("fa-eye-slash");
    } else {
      newPasswordInput.type = "password";
      newPasswordToggleIcon.classList.remove("fa-eye-slash");
      newPasswordToggleIcon.classList.add("fa-eye");
    }
  });

  toggleConfirmPasswordButton.addEventListener("click", function () {
    if (confirmPasswordInput.type === "password") {
      confirmPasswordInput.type = "text";
      confirmPasswordToggleIcon.classList.remove("fa-eye");
      confirmPasswordToggleIcon.classList.add("fa-eye-slash");
    } else {
      confirmPasswordInput.type = "password";
      confirmPasswordToggleIcon.classList.remove("fa-eye-slash");
      confirmPasswordToggleIcon.classList.add("fa-eye");
    }
  });
</script>

<%- include('footer') %>
