<%- include('header') %>

<div class="user-signup">
  <div class="row align-items-center container">
    <div class="col-md-6">
      <img
        src="/images/SignUpImg.jpeg"
        class="img-fluid"
        alt="Your Image"
        style="margin-left: 5rem"
      />
    </div>
    <div class="col-md-6">
      <div class="top-right-login">
        <a href="/user/login">Login</a>
        <span class="gap">|</span>
        <a href="/user">Home</a>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Sign Up</h3>
        </div>
        <div class="card-body">
          <% if (locals.error) { %>
          <p class="error-message"><%= error %></p>
          <% } %>
          <form action="/user/signup" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="phonenumber" class="form-label">Phone Number:</label>
              <input
                type="tel"
                class="form-control"
                id="phonenumber"
                name="phonenumber"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                />
                <div class="input-group-append">
                  <button type="button" class="btn" id="togglePassword">
                    <i class="fa fa-eye" id="passwordToggleIcon"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label"
                >Confirm Password:</label
              >
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                />
                <div class="input-group-append">
                  <button type="button" class="btn" id="toggleConfirmPassword">
                    <i class="fa fa-eye" id="confirmPasswordToggleIcon"></i>
                  </button>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const passwordInput = document.getElementById("password");
  const togglePasswordButton = document.getElementById("togglePassword");
  const passwordToggleIcon = document.getElementById("passwordToggleIcon");
  let isPasswordVisible = false;

  const confirmPasswordInput = document.getElementById("confirmPassword");
  const toggleConfirmPasswordButton = document.getElementById(
    "toggleConfirmPassword"
  );
  const confirmPasswordToggleIcon = document.getElementById(
    "confirmPasswordToggleIcon"
  );
  let isConfirmPasswordVisible = false;

  togglePasswordButton.addEventListener("click", function () {
    if (isPasswordVisible) {
      passwordInput.type = "password";
      passwordToggleIcon.classList.remove("fa-eye-slash");
      passwordToggleIcon.classList.add("fa-eye");
    } else {
      passwordInput.type = "text";
      passwordToggleIcon.classList.remove("fa-eye");
      passwordToggleIcon.classList.add("fa-eye-slash");
    }
    isPasswordVisible = !isPasswordVisible;
  });

  toggleConfirmPasswordButton.addEventListener("click", function () {
    if (isConfirmPasswordVisible) {
      confirmPasswordInput.type = "password";
      confirmPasswordToggleIcon.classList.remove("fa-eye-slash");
      confirmPasswordToggleIcon.classList.add("fa-eye");
    } else {
      confirmPasswordInput.type = "text";
      confirmPasswordToggleIcon.classList.remove("fa-eye");
      confirmPasswordToggleIcon.classList.add("fa-eye-slash");
    }
    isConfirmPasswordVisible = !isConfirmPasswordVisible;
  });
</script>

<%- include('footer') %>
